.search {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: solid #d8d8d8 1px;
  /* box-shadow: 0 8px 6px -6px rgb(7, 5, 5); */
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;

}

.search > h2 {
  width: 30vw;
  color: rgb(73, 66, 66)
}

.search-icon {
  display: flex;
  align-items: center;
}
